.home
  - foreach ($tree->getPeople() as $person)
    %h1
      %a{name: $person->getLinkName()}
      %em
        != fact($person->getName())

    %dl
      - if ($person->alsoKnownAs())
        - foreach ($person->alsoKnownAs() as $name)
          %dt Also known as
          %dd
            %em
              != fact($name)

      - if ($person->born())
        %dt Born
        %dd
          - if ($person->bornAt())
            %em
              != fact($person->bornAt())

          - if ($person->bornIn())
            in
            %em
              != fact($person->bornIn())

    %dl

      - if ($person->mother())
        %dt Mother
        %dd
          = require_template("_person", array('person' => $person->mother()))

      - if ($person->father())
        %dt Father
        %dd
          = require_template("_person", array('person' => $person->father()))

      - if ($person->siblings())
        - foreach ($person->siblings() as $sibling)
          %dt Sibling
          %dd
            = require_template("_person", array('person' => $sibling))

      - if ($person->children())
        - foreach ($person->children() as $child)
          %dt Child
          %dd
            = require_template("_person", array('person' => $child))

    %dl

      - foreach ($person->married() as $married)
        %dt Married
        %dd
          = require_template("_person", array('person' => $married))

          - if ($married['date'])
            on
            %em= $married['date']

          - if ($married['place'])
            in
            %em= $married['place']
